<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :pharse %><br>
    <%= f.text_field :pharse %>
  </div>
  <div class="field">
    <%= f.label :mean %><br>
    <%= f.text_field :mean %>
  </div>
  <div class="field">
    <%= f.label :learn_date %><br>
    <%= f.date_select :learn_date %>
  </div>
  <div class="field">
    <%= f.label :pronunciation %><br>
    <%= f.text_field :pronunciation %>
  </div>
  <div class="field">
    <%= f.label :example %><br>
    <%= f.text_field :example %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
