<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @word.title %>
</p>

<p>
  <strong>Learn date:</strong>
  <%= @word.learn_date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @word.content %>
</p>


